*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: lavender;
}
.ancho{
    width: 950px;
    height: 50px;
    background: #92a8c0;
    margin: auto;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
h2{
    color: white;
    float: left;
}
img{
    width: 950px;
}
#slider{
    width: 950px;
    margin: 10px auto;
    overflow: hidden;
}
#slider ul{
    list-style: none;
    width: 2850;
    display: flex;
    animation: slide 10s infinite alternate;
}
@keyframes slide{
    0% {margin-left: 0px;}
    40% {margin-left: 0px;}

    45% {margin-left: -950px;}
    70% {margin-left: -950px;}

    75% {margin-left: -1900px;}
    100% {margin-left: -1900px;}
}
#menu-h{
    max-width: 950px;
    min-height: 50px;
    background: black;
    margin: auto;
}
#menu-h ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#menu-h a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}
#menu-h a:hover{
    background: #283747;
}
#contenido{
    width: 950px;
    min-height: 400px;
    margin: auto;
    background: #99afc7;
}
section{
    width: 700px;
    margin: auto;
    margin-top: 10px;
    
}
footer{
    width: 950px;
    min-height: 50px;
    background: black;
    margin: auto;
    color: white;
    text-align: center;
}
